.component-message {
    text-align: left;
    word-break: break-all;
    max-height: 60vh;
    overflow-y: auto;
}

.component-message.title {
    height: 60px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
