body {
    --white-filter: invert(100%);

    --blue: rgb(0, 122, 255);
    --blue-filter: invert(30%) sepia(92%) saturate(2405%) hue-rotate(199deg) brightness(101%) contrast(109%);
    --clear-blue: rgba(0, 122, 255, 0.1);
    --clear-blue-3: rgba(0, 122, 255, 0.3);
    --dark-clear-blue: rgba(0, 122, 255, 0.5);
    --light-blue: rgb(178, 215, 255);
    --clear-light-blue: rgba(178, 215, 255, 0.1);

    --green: rgb(40, 205, 65);
    --green-filter: invert(73%) sepia(20%) saturate(1613%) hue-rotate(74deg) brightness(84%) contrast(104%);
    --clear-green: rgba(40, 205, 65, 0.1);
    --light-green: rgb(169, 241, 180);

    --red: rgb(255, 59, 48);
    --red-filter: invert(28%) sepia(41%) saturate(3531%) hue-rotate(342deg) brightness(113%) contrast(103%);
    --clear-red: rgba(255, 59, 48, 0.1);

    --yellow: rgb(255, 204, 0);
    --clear-yellow: rgba(255, 204, 0, 0.1);

    --orange: rgb(255, 149, 0);
    --orange-filter: invert(76%) sepia(31%) saturate(7305%) hue-rotate(358deg) brightness(99%) contrast(108%);
    --clear-orange: rgba(255, 149, 0, 0.1);

    --gray: rgb(142, 142, 147);
    --gray-filter: invert(65%) sepia(4%) saturate(248%) hue-rotate(202deg) brightness(86%) contrast(97%);
    --clear-gray: rgba(142, 142, 147, 0.1);
    --clear-gray-3: rgba(142, 142, 147, 0.3);
    --light-gray: #f8f8f8;
    --dark-gray: rgb(32, 32, 32);
    --dark-gray-filter: invert(9%) sepia(0%) saturate(0%) hue-rotate(253deg) brightness(104%) contrast(93%);

    --low-clear-dark-gray: rgba(32, 32, 32, 0.6);
    --clear-black: rgba(0, 0, 0, 0.3);

    --background: white;
    --background-filter: var(--white-filter);
    --foreground: var(--blue);
    --clear-foreground: var(--clear-blue);
    --foreground-filter: var(--blue-filter);

    /*--shadow-off: 0 5px 20px 1px rgba(0, 0, 0, 0.2), inset 0 0 0 0 var(--clear-blue-3);*/
    /*--shadow-on: 0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 5px 20px 1px var(--clear-blue-3);*/
    --shadow-off: none;
    --shadow-on: none;

    --no-shadow-bulge: inset 0 0 0 0 #d1d9e6, inset 0 0 0 0 #ffffff;
    --shadow-bulge: inset -1px -1px 3px 0 #d1d9e6, inset 1px 1px 3px 0 #ffffff;
    --shadow-color: #d1d9e6;
}
